{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<table class="table table-striped">
		<thead class="table-dark">
			<tr>
				<th>id</th>
				<th>Nom</th>
				<th>Prix</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr data-controller="produit">
					<td>{{ produit.id }}</td>
					<td contenteditable="true">{{ produit.nom }}</td>
					<td contenteditable="true">{{ produit.prix }}</td>
					<td class="d-flex p-0">
						<form method="post" action="{{ path('delete_produit', {id: produit.id}) }}">
							<button type="submit" class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</button>
						</form>
						<button data-action="click->produit#add" class="btn btn-primary">
							<i class="bi bi-plus-circle-fill"></i>
						</button>
						<button class="btn btn-success" data-action="produit#save">
							<i class="bi bi-save"></i>
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
