{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div data-controller="produit">
		<button class="btn btn-success" id="addline">
			<i class="bi bi-plus-circle-fill me-2"></i>
			Ajouter un produit
		</button>

		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th>id</th>
					<th>Nom</th>
					<th>Prix</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody data-add-product-target="tableBody">
				{% for produit in produits %}
					<tr>
						<td>{{ produit.id }}</td>
						<td>{{ produit.nom }}</td>
						<td>{{ produit.prix }}</td>
						<td>
							<form method="post" action="{{ path('delete_produit', {id: produit.id}) }}">
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
